.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vscode/c_cpp_properties.json
.vscode/
settings.json
tasks.json
*.exe
*.tmp
tempCodeRunnerFile.py
config.py
__pycache__/
old
test.ipynb
balance.ipynb
config.ini
output/
dist/
build/
*.spec
